[Unit]
Description=Python Service

[Service]
ExecStart=/usr/bin/python3 /home/your_user/your_project/script.py
Restart=always

[Install]

WantedBy=multi-user.target
